.square1 {
  background-color: #FF0000;
  position: absolute;
  width: 250px;
  height: 250px;
}

.square3 {
  background-color: yellow;
  position: relative;
  width: 50%;
  height: 50%;
  left: 0px;
  top: 0px;
}

.square2 {
  background-color: #800080;
  position: relative;
  width: 60%;
  height: 60%;
  left: 50px;
  top: 50px;
}