.square1 {
  background-color: #FF0000;
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  margin: 20px 0px;
}

.square3 {
  background-color: yellow;
  position: relative;
  width: 50%;
  height: 50%;
  left: 0px;
  top: 0px;
}

.square2 {
  background-color: #800080;
  position: relative;
  width: 55%;
  height: 55%;
  left: 55px;
  top: 55px;
}

.square4 {
  background-color: #0000FF;
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
}

.square5 {
  background-color: #000000;
  position: relative;
  width: 23%;
  height: 23%;
  left: 0px;
  top: 0px;
}

.square6 {
  background-color: #008000;
  position: relative;
  width: 55%;
  height: 55%;
  left: 58px;
  top: 0px;
}